input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* Specifically for password fields */
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

[class^="ant-"] {
  font-family: "Inter", sans-serif !important;
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Show scrollbar on hover */
*:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Scrollbar track (transparent) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin: 0.5em;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vw; /* Adjust radius as needed */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* page loader style */
.loader-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}
.loader-content {
  position: relative;
}
.loader-logo {
  left: 0;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  margin: auto;
}
.loader-spinner {
  display: block;
  margin: 0 auto;
  animation: loading_spinner_spin 2s linear infinite;
  will-change: transform;
}
.loader-spinner circle {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  stroke-linecap: round;
  animation: loading_spinner_circle 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    infinite;
  transform: translateZ(0);
  transform-origin: center;
  will-change: stroke-dashoffset;
}
.layout-container {
  max-width: 1400px;
  margin: 0 auto; /* centers horizontally */
  width: 100%; /* responsive */
  overflow-x: auto; /* scroll horizontally if overflow */
}
@keyframes loading_spinner_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading_spinner_circle {
  0% {
    stroke-dashoffset: 190;
    transform: scaleY(1);
  }
  49.99% {
    stroke-dashoffset: 0;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: scaleY(-1) rotate(25deg);
  }
  100% {
    stroke-dashoffset: 190;
    transform: scaleY(-1) rotate(-32deg);
  }
}

.ant-select-selector {
  border-radius: 10px !important;
  /* height: 40px !important; */
  display: flex;
  align-items: center; /* centers text vertically */
  font-weight: normal;
}
.ant-select-dropdown .ant-select-item {
  min-height: 40px !important;
}
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background: #009900;
  color:white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;

}
/* Hovered option */
.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: #009900 !important;
  color: white !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.form-control .ant-input-affix-wrapper {
  height: 40px !important;
  border-radius: 10px !important;
}
.form-control .ant-input-affix-wrapper input::placeholder {
  color: #768EA7 !important;
}

/* table style */

.ant-table-wrapper .ant-table-thead > tr > th {
  background: transparent !important;
  
  color: #768EA7 !important;
  border-top : none;
  border-right : none;
  border-left : none;
  border-bottom: 1px solid #e5e7eb !important;
}
.ant-table-wrapper .ant-table-thead > tr > th::before {
  display: none !important;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: 1px solid #e5e7eb !important;
 
}
.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 1px !important;
}
.ant-card .ant-card-body {
  padding: 0px;
}

